@import url(https://fonts.googleapis.com/css?family=Lato);

.timeline ul {
  padding: 50px 0;
  list-style-type: none;
}

.timeline ul li {
  background: #e0e0e0;
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
}

.timeline ul li:last-child {
  padding-bottom: 7px;
}

.timeline ul li:before {
  content: "";
  background: #f7f8fc; /* page background */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #a0a0a0;
  border-radius: 50%;
}

.timeline ul li .content {
  position: relative;
  top: 7px;
  width: 450px;
}

.timeline ul li .content .path-card {
  position: relative;
}

/* The horizontal line connecting card to timeline */
.timeline ul li .content:before {
  content: "";
  background: #a0a0a0; /* same as dot border */
  position: absolute;
  top: 5px;
  width: 38px;
  height: 5px;
}

.timeline ul li:nth-child(odd) .content {
  left: 50px;
}

.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}

.timeline ul li:nth-child(even) .content {
  left: calc(-450px - 45px);
}

.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

@media screen and (max-width: 1575px) {
  .path-card {
    width: calc(41vw - 45px);
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -38px;
    right: auto;
  }
}
